@use 'variables';

.button {
    width: 100%;
    padding: 15px 0;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: variables.$text-bold-800;
    cursor: pointer;
    border: none;

    &:first-child {
        background-color: variables.$global-blue;
        color: variables.$white;
    }

    &:last-child {
        background-color: variables.$white;
        color: variables.$global-blue;
    }
}

@media screen and (min-width: 780px) {
    .button {
        font-size: 1.2rem;
        padding: 20px 0;
        width: 105%;
    }
}