@use 'variables';

.button {
    width: 100%;
    padding: 15px 0;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: variables.$text-bold-800;
    cursor: pointer;
    border: none;

    &:first-child {
        background-color: variables.$global-blue;
        color: variables.$white;
    }

    &:last-child {
        background-color: variables.$white;
        color: variables.$global-blue;
    }
}