@use 'variables';

.list-groups, 
.list-swimmers,
.list-objectives {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto 0 auto;
    
    .group-card, 
    .swimmer-card,
    .objective-card,
    .graph-card {
        background: variables.$global-background-card;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        justify-content: center;
        width: 250px;
        margin: 0 0 10px 0;
        
        .group-title, 
        .swimmer-name,
        .objective-title,
        .graph-name {
            color: variables.$black;
            font-size: 22px;
            font-weight: bold;
            margin: 0 0 5px 0;
        }

        .objective-info {
            font-size: 0.9rem;
            margin: 0.5rem 0;
            color: #000;
        }

        .btn {
            border: 0;
            padding: 5px 10px;
            min-width: 75px;
            background-color: variables.$global-blue;
            color: variables.$white;
            font-size: 1rem;
            border-radius: 25px;
        }
    }
}

@media screen and (min-width: 550px) {
    .container {
        .list-groups,
        .list-swimmers,
        .list-objectives {
            
            .group-card,
            .objective-card{
                width: 320px;
            }
        }
    }
}

@media screen and (min-width: 680px) {
    .container {
        .list-groups,
        .list-swimmers,
        .list-objectives {
            position: fixed;
            top: 50%;
            left: 39%;
            transform: translate(-50%, -50%);
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .group-card,
            .objective-card {
                width: 250px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        .list-groups,
        .list-swimmers,
        .list-objectives {
            left: 34%;
            top: 40%;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}