@use 'variables';

.register-container {
    display: flex;
    flex-direction: column;
    align-items: variables.$align-center;
    padding: 15px -11px 15px 15px;
    background: variables.$white;
    border-radius: 15px 15px 0 0;
    width: 100vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;

    .title-container {
        text-align: variables.$text-center;
        margin-bottom: 15px;

        .title {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: variables.$align-center;

        .role-buttons {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            border-radius: 25px;
            border: 1px solid variables.$global-blue;
    
            .role-button {
                width: 100%;
                padding: 7px;
                border: 0;
                border-radius: 15px;
                background-color: variables.$white;
                color: variables.$global-blue;
                font-weight: variables.$text-bold-800;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;
    
                &.active {
                    background-color: variables.$global-blue;
                    color: variables.$white;
                }
            }
        }
    
        .form {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            
            .form-group {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .name-label {
                    font-size: 0.75rem;
                    color: variables.$global-blue;
                    text-align: left;
                }
                
                .input {
                    padding: 8px;
                    font-size: 0.75rem;
                    border: none;
                    border-bottom: 1px solid variables.$global-blue;
                    outline: none;
                }
            }
    
        }

        .submit-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0 0 0;
            width: 100%;
            padding: 10px;
            border-radius: 20px;
            background-color: variables.$global-blue;
            color: variables.$white;
            font-weight: variables.$text-bold-800;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            text-align: variables.$text-center;
        }

        .footer-section {
            text-align: variables.$text-center;
            margin-top: 15px;

            a {
                color: variables.$global-blue;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (min-width: 485px) {
    .register-container {
        .title-container {
            .title {
                font-size: 1.3rem;
            }
        }

        .main {
            width: 330px;
        }
    }
}

@media screen and (min-width: 630px) {
    .register-container {
        width: 500px;
    }
}

@media screen and (min-width: 780px) {
    .register-container {
        border-radius: 15px;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
}
