@use "variables";

.container {
    .list-groups {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 20px auto 0 auto;
    
        .main-title {
            margin: -20px 0 10px 0;
            font-size: 2.3rem;
            color: variables.$white;
            text-align: variables.$text-center;
        }
    
        .group-card {
            background: variables.$global-blue;
            padding: 1cqmax;
            border-radius: 50px;
            text-align: center;
            width: 220px;

            .group-title {
                color: variables.$white;
                font-size: 20px;
                margin: 0;
            }
        }
    } 
}