@use "variables";

.container {
    .main-title {
        margin: -20px 0 10px 0;
        font-size: 2.3rem;
        color: variables.$white;
        text-align: variables.$text-center;
    }

    .list-groups {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 20px auto 0 auto;
    
    
        .group-card {
            background: variables.$global-background-card;
            padding: 10px;
            border-radius: 15px;
            text-align: center;
            width: 250px;

            .group-title {
                color: variables.$black;
                font-size: 20px;
                margin: 0 0 10px 0;
            }

            
        }
    } 
}

