.scrollable-container {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}