.scrollable-container {
    width: 90%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;

    &::-webkit-scrollbar {
        display: none;
    }
}