@use 'variables';

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    font-family: variables.$global-font-family;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    .timer-display {
        font-size: 3.5rem;
        font-weight: bold;
        letter-spacing: 2px;
        color: variables.$global-blue;
        background-color: #f4f9ff;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
    }

    .timer-controls {
        display: grid;
        gap: 15px;
        
        .timer-button {
            padding: 12px 30px;
            font-size: 1.2rem;
            font-weight: bold;
            border: none;
            border-radius: 25px;
            background-color: variables.$global-blue;
            color: white;
            width: 180px;
            text-align: center;
        }
    }
}



@media (min-width: 768px) {
    .timer-display {
        font-size: 4.5rem;
    }

    .timer-button {
        font-size: 1.4rem;
        width: 220px;
    }
}